/* 头部最上 */
.content{width: 1226px;margin: 0 auto;}
header{background:#333;}
.header>ul{width: 705px;float: left;}
.header>ul>li{float: left;margin-right: 10px;}
.header>ul>li>a{display: inline-block;font: 12px/40px "";color: #f0f0f0;}
.header>ol{float: right;}
.header>ol>li{float: left;margin-right: 10px;}
.header>ol>li>a{display: inline-block;font: 12px/40px "";color: #f0f0f0;}
.header>.cart{float: right;}
.header>.cart>a{width: 120px;display:inline-block;text-align: center;font: 12px/40px "";color: #B0B0B0; background: #424242;}
.header a:hover{text-decoration: none;color: #fff;}
.header>.cart>a:hover{background: #fff;color: orange;}


/* 导航栏 */
#nav{position: relative;}
.nav{height: 100px;padding-top: 12px;box-sizing: border-box;display: flex;}
.nav>.logo{padding-top: 12px;}
.nav>.nav_top{padding-top: 7px;display: flex;margin:0 69px 0 175px;}
.nav>.nav_top>li>a{display: block;font: 16px/16px "";color: #333; padding: 20px 10px 38px;}
.nav>.search{padding-top: 12px;display: flex;}
.nav>.search>input{ width: 245px;height: 50px;border: 1px solid #e0e0e0;padding: 0 10px;box-sizing: border-box;}
.nav>.search>button{ width: 52px;height: 50px;border: 1px solid #e0e0e0;}
.nav>.search>button:hover{background-color: orange;}
.nav>.nav_top>li>a:hover{text-decoration: none;color: #ff6700;}
#nav>.nav_box{position: absolute;width: 100%;height: 229px;border-top: 1px solid red;top: 100px;display: none;z-index: 999;background-color: white;}
.nav_box>ol{display: flex;}
.nav_box>ol>li{flex: 1;display: flex;flex-direction: column;align-items: center;}
.nav_box>ol>li>a>div{border-right:1px solid red;width: 203px;text-align: center;margin: 20px;}
.nav_box>ol>li:last-child>a>div{border: none;}
.nav_box>ol>li>a>div>img{height: 110px;width: 160px;}
.nav_box>ol>li>a>p{font: 14px/30px "";text-align: center;}
.nav_box>ol>li>a>span{font: 12px/30px "";color: red;text-align: center;display: block;}

/* 广告栏siwper */
/* swiper */
.banner .swiper-wrapper>li>a>img{width: 1226px;height: 460px;}
.banner .swiper-button-prev{position: absolute;left: 250px;}
/* 左边的导航栏 */
.banner{position: relative;height: 460px;}
.banner>ul{position: absolute;left: 0;top: 0;z-index: 10;background:rgba(75, 75, 75, .5) ;padding: 20px 0;}
.banner>ul>li>a{display: block;padding-left: 30px;font:14px/42px "";color: #fff;width: 234px;}
.banner>ul>li>a:hover{text-decoration: none; background-color: #ff6700;}
/* 隐藏的导航栏内容 */
.banner>ol{position: absolute;left: 234px;top: 0px;z-index: 10;height: 460px;display: flex;flex-direction: column;flex-wrap: wrap;background-color: #fff;}

.banner>ol>li>a{display: flex; height: 76px;width: 265px; padding: 18px 20px;}
.banner>ol>li>a>img{width: 40px;height: 40px;margin-right: 12px;}
.banner>ol>li>a>span{font: 14px/40px "";color: #333;}
.banner>ol>li>a:hover{text-decoration: none;}
.banner>ol>li>a:hover>span{color: orange;}

/* main区域banner下的第一个区域 */
.main{display: flex;margin-top: 10px;}
.main>div>ul{width: 234px;padding: 3px;box-sizing: border-box;background-color: #757575;display: flex;flex-wrap: wrap;}
.main>div>ul>li>a{display: block;text-align: center;width: 76px;height: 82px;padding-top :24px;color: white;}
.main>div>ul>li>a>img{display: block;width: 24px;height: 24px;margin: 0px 24px 4px 24px;}
.main>div>ul>li>a:hover{text-decoration: none;}
.main>ul{display: flex;}
.main>ul>li>a>img{width: 316px;height: 170px;margin-left: 14px;}

/*内容区 */
section{background-color: #f5f5f5;}
h2{font: 22px/60px "";color: #333;}

/* 小米快闪 */
.shop{display: flex;justify-content: space-between;position: relative;}
.shop>.flashsale{width: 234px;height: 339px; display: flex;flex-direction: column;background-color: #f1eded;}
.shop>.flashsale>span{font-size: 21px;color: #ef3a3b;text-align: center;margin-top: 50px;}
.shop>.flashsale>img{width: 34px;height: 53px;margin: 25px 100px;}
.shop>.flashsale>p{font:15px/30px "";text-align: center;}
.shop>.flashsale>.time{display: flex;padding-left: 40px;margin-top: 30px;}
.shop>.flashsale>.time>span{width: 46px;height: 46px;font: 24px/46px "";color: #fff;background-color: #605751;text-align: center;}
.shop>.flashsale>.time>i{font: 28px/46px "";color: #605751;}

/* .shop>.shopswiper{width: 978px;height: 339px;margin-left: 14px;}
.shop>.shopswiper>ul>li{width: 234px;height: 339px;margin-right: 10.5px;}
.shop>.shopswiper>ul>li>a{display: block;width: 234px;height: 339px;text-align: center;background-color: #fff;}
.shop>.shopswiper>ul>li>a>h3{font: 14px/34px "";color: #212121;}
.shop>.shopswiper>ul>li>a>p{font: 12px/18px "";color: #b0b0b0;}
.shop>.shopswiper>ul>li>a>span{font-size: 14px;color: #ff6700;} */

.shopswiper{width: 978px;height: 339px;margin-left: 14px;}
.shopswipei>ul{display: flex;}
.shopswiper>ul>li{width: 234px;height: 339px;margin-right: 10px;text-align: center;background-color: #fff;}
.shopswiper>ul>li>h3{font: 14px/34px "";color: #212121;}
.shopswiper>ul>li>p{font: 12px/18px "";color: #b0b0b0;}
.shopswiper>ul>li>span{font-size: 14px;color: #ff6700;}

/* 小米手机 */
.cellphone{display: flex;}
.cellphone>a>img{width: 234px;height: 614px;}
.cellphone>ul{display: flex;width: 992px;flex-wrap: wrap;}
.cellphone>ul>li>a{text-align: center;display: block;width: 234px;height: 300px;margin: 0 0 14px 14px;padding: 20px 0;background-color: #fff;}
.cellphone>ul>li>a>h3{font: 14px/23px "";color: #333;}
.cellphone>ul>li>a>p{font: 12px/18px "";color: #B0B0B0;margin: 0 10px 10px;}
.cellphone>ul>li>a>span{font: 14px/16px "";color: #ff6700;}

/* 小米家电 */
.jiadian{display: flex;position: relative;}
.jiadian>div>img{width: 234px;height: 300px;display: block;margin-bottom: 14px;}
.jiadian>ul{display: flex;width: 992px;background-color: pink;flex-wrap: wrap;}
.jiadian>ul>li>a{text-align: center;display: block;width: 234px;height: 300px;margin: 0 0 14px 14px;padding: 20px 0;background-color: #fff;}
.jiadian>ul>li>a>h3{font: 14px/23px "";color: #333;}
.jiadian>ul>li>a>p{font: 12px/18px "";color: #B0B0B0;margin: 0 10px 10px;}
.jiadian>ul>li>a>span{font: 14px/16px "";color: #ff6700;}
.jiadian>.morehot{position: absolute;right: 94px;top: -35px;font: 16px/26px "";color: #424242;}
.jiadian>.moreTV{position: absolute;right: 0;top: -35px;font: 16px/26px "";color: #424242;color: #424242;}
.jiadian a.active{border-bottom:3px solid #ff6700 ;color: #ff6700;}
.jiadian ul.active{display: flex;}
.jiadian ul{display: none;}